.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 2fr;
  gap: 0px 3px;
  grid-auto-flow: row;
  grid-template-areas:
    "CajaLogo1 CajaLogo2 CajaLogo3 CajaLogo4 CajaLogo5"
    "TextoLogo1 TextoLogo2 TextoLogo3 TextoLogo4 TextoLogo5";
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}

.CajaLogo1 { grid-area: CajaLogo1; }

.CajaLogo2 { grid-area: CajaLogo2; }

.CajaLogo3 { grid-area: CajaLogo3; }

.CajaLogo4 { grid-area: CajaLogo4; }

.CajaLogo5 { grid-area: CajaLogo5; }

.TextoLogo1 { grid-area: TextoLogo1; }

.TextoLogo2 { grid-area: TextoLogo2; }

.TextoLogo3 { grid-area: TextoLogo3; }

.TextoLogo4 { grid-area: TextoLogo4; }

.TextoLogo5 { grid-area: TextoLogo5; }

.CajaLogo1{
  padding-bottom: 20%;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 3%;
}

.CajaLogo2{
  padding-bottom: 20%;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 3%;
}

.CajaLogo3{
  padding-bottom: 20%;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 3%;
}

.CajaLogo4{
  padding-bottom: 20%;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 3%;
}

.CajaLogo5{
  padding-bottom: 20%;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 3%;
}

.CirculoGris{
  background-color: rgb(211, 211, 211);
  border-radius: 50%;
  height: 100%;
  width: 70%;
  overflow: hidden;
  padding-left: 10%;
}

img .CirculoGris {
  
}
